name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 89.167.71.3
          username: admin
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/backend-api
            git pull origin main
            npm install
            pm2 restart backend-api --update-env

